.font-thin {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}
.font-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
.font-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #fcc40b;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fcc40b;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #d1a103;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-login {
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 14px;
  padding: 20px 40px;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  background-image: none;
}
.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
  background-color: transparent;
  border-color: transparent;
}
.btn-login .badge {
  color: transparent;
  background-color: white;
}
.btn-signup {
  color: white;
  background-color: #fcc40b;
  border-color: #fcc40b;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 14px;
  padding: 20px 40px;
}
.btn-signup:hover,
.btn-signup:focus,
.btn-signup:active,
.btn-signup.active,
.open .dropdown-toggle.btn-signup {
  color: white;
  background-color: #d1a103;
  border-color: #c79a02;
}
.btn-signup:active,
.btn-signup.active,
.open .dropdown-toggle.btn-signup {
  background-image: none;
}
.btn-signup.disabled,
.btn-signup[disabled],
fieldset[disabled] .btn-signup,
.btn-signup.disabled:hover,
.btn-signup[disabled]:hover,
fieldset[disabled] .btn-signup:hover,
.btn-signup.disabled:focus,
.btn-signup[disabled]:focus,
fieldset[disabled] .btn-signup:focus,
.btn-signup.disabled:active,
.btn-signup[disabled]:active,
fieldset[disabled] .btn-signup:active,
.btn-signup.disabled.active,
.btn-signup[disabled].active,
fieldset[disabled] .btn-signup.active {
  background-color: #fcc40b;
  border-color: #fcc40b;
}
.btn-signup .badge {
  color: #fcc40b;
  background-color: white;
}
.btn-plan-select {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 8px 25px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: -5px;
}
.btn-primary {
  color: white;
  background-color: transparent;
  border-color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: transparent;
  border-color: white;
}
.btn-primary .badge {
  color: transparent;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fcc40b;
  border-color: #fcc40b;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #d1a103;
  border-color: #c79a02;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fcc40b;
  border-color: #fcc40b;
}
.btn-xl .badge {
  color: #fcc40b;
  background-color: white;
}
.btn-panel-footer {
  color: white;
  background-color: #fcc40b;
  border-color: #fcc40b;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px 50px;
}
.btn-panel-footer:hover,
.btn-panel-footer:focus,
.btn-panel-footer:active,
.btn-panel-footer.active,
.open .dropdown-toggle.btn-panel-footer {
  color: white;
  background-color: #d1a103;
  border-color: #c79a02;
}
.btn-panel-footer:active,
.btn-panel-footer.active,
.open .dropdown-toggle.btn-panel-footer {
  background-image: none;
}
.btn-panel-footer.disabled,
.btn-panel-footer[disabled],
fieldset[disabled] .btn-panel-footer,
.btn-panel-footer.disabled:hover,
.btn-panel-footer[disabled]:hover,
fieldset[disabled] .btn-panel-footer:hover,
.btn-panel-footer.disabled:focus,
.btn-panel-footer[disabled]:focus,
fieldset[disabled] .btn-panel-footer:focus,
.btn-panel-footer.disabled:active,
.btn-panel-footer[disabled]:active,
fieldset[disabled] .btn-panel-footer:active,
.btn-panel-footer.disabled.active,
.btn-panel-footer[disabled].active,
fieldset[disabled] .btn-panel-footer.active {
  background-color: #fcc40b;
  border-color: #fcc40b;
}
.btn-panel-footer .badge {
  color: #fcc40b;
  background-color: white;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  margin-left: 10px;
  padding: 3px 15px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #d1a103;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #fcc40b;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d1a103;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #fcc40b;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fcc40b;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #d1a103;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 15px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 15px 0;
  }
}
header {
  background-image: url('../img/Background.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
section#pricing .plan {
  padding: 20px;
  margin-left: 0px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
section#pricing .pricing-table {
  margin-left: 0px;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #f7f7f7;
  -webkit-box-shadow: 0 0 6px 2px #f7f7f7;
  box-shadow: 0 0 6px 2px #f7f7f7;
}
section#pricing .pricing-table .plan {
  margin-left: 0px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  -moz-box-shadow: 0 0 6px 2px #f7f7f7;
  -webkit-box-shadow: 0 0 6px 2px #f7f7f7;
  box-shadow: 0 0 6px 2px #f7f7f7;
}
section#pricing .pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
section#pricing .pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-bottom: 1px solid #c5c8c0;
  text-align: center;
}
section#pricing .pricing-table .plan .plan-name-gold {
  padding: 20px;
  color: #222222;
  background-color: #fcc40b;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
section#pricing .pricing-table .plan .plan-name-gold span {
  font-size: 20px;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fcc40b;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fcc40b;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fcc40b;
}
::selection {
  text-shadow: none;
  background: #fcc40b;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fcc40b;
}
