.btn-login {
    .button-variant(white; transparent; @brand-primary);
    .heading-font;
    border-radius: 3px;
    font-size: 14px;
    padding: 20px 50px;
}

.btn-signup {
    .button-variant(white; transparent; @brand-primary);
    .heading-font;
    border-radius: 3px;
    font-size: 14px;
    padding: 20px 50px;
}

.btn-panel-starter {
    .button-variant(@gray-darkest; @gray-lighter; @gray-default;);
    .heading-font;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px 50px;
}

.btn-panel-plus {
    .button-variant(white; @brand-primary; @brand-primary);
    .heading-font;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px 50px;
}

// Restyled Primary Buttons
.btn-primary {
    .button-variant(white; transparent; white);
    .heading-font;
    font-weight: 700;
}

.btn-xl {
    .button-variant(white; @brand-primary; @brand-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}
